@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$h1-font: 'Inconsolata', monospace;
$body-font: 'Space Mono', monospace;
$footer-font: 'Montserrat', sans-serif;
$font-color-primary: #333333;
$font-color-secundary: #FFFFFF;
$font-color-footer: #BDBDBD;

.Body {
    max-height: 100vh;
    max-width: 100vw;
    color: $font-color-primary;
}
.Header {
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-left: 24px;
}
.H1 {
    font-family: $h1-font;
    font-weight: 700;
    font-size: 24px;
}
.Section {
    display: flex;
    flex-direction: column;
    width: 91vw;
    height: auto;
    margin: 0 auto;
    @media (min-width: 1000px) {
        width: 75vw;
        flex-direction: row;
        margin: 50px auto;
    }
}
.Image {
    padding: 30px;
    @media (min-width: 1000px) {
        padding: 0;
    }
}
.Content {
    font-family: $body-font;
    @media (min-width: 1000px) {
        padding-left: 50px;
    }
    &-header h2 {
        font-size: 48px;
        font-weight: 700;
        line-height: 71px;
        height: 33%;
        @media (min-width: 1000px) {
            font-size: 64px;
        }
    }
    &-p {
        font-size: 18px;
        font-weight: 400;
        line-height: 38px;
        height: 33%;
        margin-top: 40px;
        margin-bottom: 50px;
        @media (min-width: 1000px) {
            font-size: 24px;
        }
    }
    &-button {
        width: auto;
        height: auto;
        font-weight: 700;
        font-size: 14px;
        padding: 16px;
        background-color: $font-color-primary;
        color: $font-color-secundary;
        display: inline;
    }
}
.Footer {
    position: absolute;
    bottom: 0;
    width: 100vw;
    &-p {
        text-align: center;
        font-family: $footer-font;
        color: $font-color-footer;
        font-weight: 500;
        font-size: 14px;
    }
    &-a {
        text-decoration: underline;
        font-weight: bold;
    }
}