@import '_reset';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

$h1-font: 'Inconsolata', monospace;
$body-font: 'Space Mono', monospace;
$font-color-primary: #333;
$font-color-secundary: #FFF;
.Header {
    width: 100vw;
    height: auto;
    padding-top: 20px;
    padding-left: 24px;
}
.H1 {
    font-family: $h1-font;
    font-weight: 700;
    font-size: 24px;
    color: $font-color-primary;
}
.Section {
    display: flex;
    flex-direction: column;
    width: 91vw;
    height: auto;
    margin: 0 auto;
    @media (min-width: 1000px) {
        width: 75vw;
        flex-direction: row;
        margin: 50px auto;
    }
}
.Image {
    padding: 30px;
    @media (min-width: 1000px) {
        padding: 0;
    }
}
.Content {
    font-family: $body-font;
    color: $font-color-primary;
    @media (min-width: 1000px) {
        padding-left: 50px;
    }
    &-header {
        font-size: 48px;
        font-weight: 700;
        line-height: 71px;
        height: 33%;
    }
    &-p {
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        height: 33%;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    &-button {
        width: auto;
        height: auto;
        font-weight: 700;
        font-size: 14px;
        padding: 16px;
        background-color: $font-color-primary;
        color: $font-color-secundary;
        display: inline;
    }
}